html, body{
    height:100%;
    overflow-x:none;
    overflow-y:none;
    scroll-behavior: smooth;
}

body{
    display:flex;
    flex-direction:column;
    min-width:320px;
}

*{
    font-family: 'Merriweather', serif;
}

.content{
    flex: 1 0 auto;
}

a:hover{
    text-decoration:none !important;
}
.img-scale{
    height:100vh;
    width:100%;
}

/*Navigation*/
.hm-navigation{
    position:absolute;
    height:auto;
    width:auto;
    top:0;
    left:0;
    background-color:$primary;
    overflow:hidden;
    padding-bottom:20px;
    display:block;
 }
.navigation{
    height:auto;
    width:auto;
    top:0;
    left:0;
    background-color:$primary;
    overflow:hidden;
    padding-bottom:20px;
    display:block;
 }
 
 ul{
     padding:0;
     margin:0;
 }
 .logo{
     background-color:$secondary;
 }
 .logo>img{
     height:auto;
     width:100%;
    padding:0 10px 0 10px;
 }
 
 .navlinks{
     padding:0 10px 0 10px;
     text-overflow: ellipsis;
     white-space:nowrap;
     & a{
        padding: 8px 7px 8px 7px;
        text-decoration: none;
        font-size:13px;
        color:$secondary;
        display:block;
        justify-content: center;
        text-align: center;
        position:relative;
        line-height:1.5rem;
     }
     & a::before{
        content:'';
        position:absolute;
        bottom:0%;
        left:0px;
        width:100%;
        height:1px;
        background:rgb(131, 131, 131);
        display:block;
        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
        transition: transform 0.4s cubic-bezier(1, 0, 0, 1)
     }
     & a:hover::before{
        -webkit-transform-origin: left top;
        -ms-transform-origin: left top;
        transform-origin: left top;
        -webkit-transform: scale(1, 1);
        -ms-transform: scale(1, 1);
        transform: scale(1, 1)
     }
     & ul{
        margin-top:20px;

     }
     & a:hover{
        color:$secondary;
        text-decoration: none;
     }
 }
 
 .contactinfo div{
     &:first-child{
        color:$secondary;
        font-size:11px;
        line-height:0.9rem;
        text-align:center;
     }
     &:nth-child(2){
        color:rgb(167, 167, 167);
        font-size:11px;
        text-align:center;
        line-height:0.9rem;
     }
     & > p{
        margin:0;
     }
 }

 .topnav{
    display:none;
    background-color:$primary;
    overflow:hidden;
    width:100%;
    top:0;
    left:0;
    position:fixed;
    transition: transform 0.4s;
    & i{
        padding:10px 0 10px 10px;
        color:$secondary;
        &:hover{
            color:rgb(109, 109, 109);
        }
    }
 }
 .scroll-down{
    transform: translate3d(0, -100%, 0);
}
.scroll-up{
    transform: none;

}
 .bookinglnk{
        color:$secondary;
        &:hover{
            color:grey;
         }
         &>p{
            line-height:2.3rem;
        margin:0 5px 0 0;
         }
       
 }

 .verticalMenu{
    display:none;
    z-index:99;
    left:0;
    top:0;
}
.verticalMenu-hm{
    display:none;
    z-index:99;
    left:0;
    top:0;
    position:absolute;
}
.address{
    color:rgb(177, 177, 177);
}

 /*Content*/
 /*Front page*/
 .section-1{
    height:100vh;
 width:100%;
 display:flex;
 position:relative;
  background:url('https://scontent-syd2-1.cdninstagram.com/vp/a5074b8bbb6b585008e4350d6ff9706e/5E65A355/t51.2885-15/fr/e15/s1080x1080/50170709_381539549341458_3579791133051580140_n.jpg?_nc_ht=scontent-syd2-1.cdninstagram.com&_nc_cat=106') no-repeat bottom center/cover;
  background-position:0 70%;
 }
 .socialinks{
     position: absolute;
     display:flex;
     padding:0 10px 0 10px;
     right:0;
     top:0;
     &>a{
        background-color:$primary;
        padding: 5px 10px 5px 10px;
        color:$secondary;
        &:hover{
            color:grey;
        }
         &>p{
            line-height:none;
            margin:0;
     }
     }
}
 
.frontBanner{
    position:absolute;
    right:0;
    top:50%;
    padding: 5px 15px 5px 15px;
    background-color:rgba(0,0,0,0.6);
    overflow:none;
    text-align:center;
    width:auto;
    height:auto;
    max-height:300px;
    margin-right:20px;
    padding-top:50px;
    padding-bottom:50px;
    display: inline-block;
    max-width: 700px;
    &>h1{
       color:$secondary;
       font-size:40px;
    }
    &>p{
       color:$secondary;
       font-size:18px;
    }
}

.arrowIcon{
    position:absolute;
    color:white;
    left:50%;
    top:90%;
    font-size:50px;
    &>a{
       color:$secondary;
       &:hover{
           color:grey;

       }
    }
}

#homeVideo{
   position: absolute;
   top: 50%; 
   left: 50%;
   -webkit-transform: translateX(-60%) translateY(-50%);
   transform: translateX(-60%) translateY(-50%);
   min-width: 100%; 
   min-height: 100%; 
   width: auto; 
   height: auto;
   z-index: -1000; 
   overflow: hidden;
}

/*Menu/Booking section*/
.section-2{
    height: auto;
    width:auto;
    background:url('https://images.unsplash.com/photo-1534594658039-0a9fa523464c?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9') no-repeat bottom center/cover;
}

.dark-overlay{
    background-color:rgba(2, 2, 2, 0.3)
}

.section-2-2{
    padding:300px 10px 300px 10px;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.column1{
    grid-column-start: 1;
    grid-column-end:2;
}
.column2{
   grid-column-start: 2;
   grid-column-end:3;
}
.menu-text{
    color:white;
    line-height:8rem;
    padding-right:5px;
    padding-left:5px;
}
.menu-text{
    &>p:first-child{
       font-size:64px;
       font-family: 'Lato', sans-serif;
    }
    &>a>p{
       font-size:124px;
       font-family: 'Rock Salt', cursive;
       color:$secondary;
       transition: 0.2s ease-in-out;
       &:hover{
           color:rgb(163, 163, 163);
           text-decoration:none;
       }
    }
 
}
.book-text{
    color:$secondary;
    line-height:7rem;
    padding-right:5px;
    padding-left:5px;
    &>a>p:first-child{
       font-size:124px;
       font-family: 'Rock Salt', cursive;
       color:$secondary;
       transition: 0.2s ease-in-out;
       &:hover{
           color:rgb(163, 163, 163);
           text-decoration:none;
       }
    }
    &>p:nth-child(2){
       font-size:64px;
       font-family: 'Lato', sans-serif;
   }
}

/*Food feature*/
.section-3{
    height: auto;
    width:auto;
    background:url('https://scontent-syd2-1.cdninstagram.com/vp/edbb213827ff07dc288d87e6082a2f63/5E4AF826/t51.2885-15/fr/e15/s1080x1080/51243480_845732095769983_5684155962629249638_n.jpg?_nc_ht=scontent-syd2-1.cdninstagram.com&_nc_cat=107') no-repeat bottom center/cover;
}
.overlay{
    background-color:rgba(250, 250, 250, 0.7);
    border-radius:5px;
}
.mainImg{
    width:100%;
    height:100%;
}
.center-text{
    display:flex;
    justify-content: center;
    flex-direction: column;
    height:400px;
    background-color:rgba(250, 250, 250, 1);
    color:black;
    &>p:nth-child(2)>a{
       color:rgb(44, 44, 44)
   }
   &>p:nth-child(2)>a:hover{
       color:rgb(44, 44, 44)
   }
}
.coffee-text{
    display:flex;
    text-decoration: double;
    justify-content: center;
    flex-direction: column;
    height:auto;
    background-color:rgba(250, 250, 250, 1);
    color:$primary;
    &>p>a{
        color:black;
        &:hover{
            color:grey;
        }
    }
}

/*Gallery*/
.section-4{
    background:url('https://scontent-syd2-1.cdninstagram.com/vp/1fe11cb17cc3f7e0b08ad474d58d6ae6/5E5AD5A2/t51.2885-15/e35/50645541_407151643424509_6536306346115409950_n.jpg?_nc_ht=scontent-syd2-1.cdninstagram.com&_nc_cat=101') no-repeat bottom center/cover;
    & .gallery{
       display:grid;
       grid-template-columns: repeat(4, 1fr);
       grid-template-rows: repeat(6, 1fr); 
       grid-gap: 8px;
       &>a>img{
        width:100%;
        height:auto;
       }
       & a{
           &:first-child{
               grid-row-start:1;
               grid-row-end:3;
               grid-column-start:1;
               grid-column-end:3;
           }
           &:nth-child(2){
               grid-row-start:2;
               grid-row-end:4;
               grid-column-start:3;
               grid-column-end:4;
           }
           &:nth-child(3){
               grid-row-start:3;
               grid-row-end:4;
               grid-column-start:2;
               grid-column-end:3;
           }
           &:nth-child(4){
               grid-row-start:3;
               grid-row-end:4;
               grid-column-start:4;
               grid-column-end:5;
           }
           &:nth-child(5){
               grid-row-start:4;
               grid-row-end:5;
               grid-column-start:1;
               grid-column-end:2;
           }
           &:nth-child(6){
               grid-row-start:4;
               grid-row-end:6;
               grid-column-start:2;
               grid-column-end:3;
           }
           &:nth-child(7){
               grid-row-start:4;
               grid-row-end:5;
               grid-column-start:3;
               grid-column-end:4;
           }
           &:nth-child(8){
               grid-row-start:4;
               grid-row-end:5;
               grid-column-start:4;
               grid-column-end:5;
           }
           &:nth-child(9){
               grid-row-start:5;
               grid-row-end:6;
               grid-column-start:1;
               grid-column-end:2;
           }
           &:nth-child(10){
               grid-row-start:5;
               grid-row-end:6;
               grid-column-start:3;
               grid-column-end:4;
           }
           &:nth-child(11){
               grid-row-start:5;
               grid-row-end:6;
               grid-column-start:4;
               grid-column-end:5;
           }
           &:nth-child(12){
               grid-row-start:6;
               grid-row-end:7;
               grid-column-start:3;
               grid-column-end:4;
           }
           &:nth-child(13){
               grid-row-start:6;
               grid-row-end:7;
               grid-column-start:4;
               grid-column-end:5;
           }
       }
    }
}
 
/*About*/
.section-1-1{
    height:auto;
    width:100%;
    display:flex;
    position:relative;
    overflow:hidden;
    
}
 .aboutSection{
    right:0;
    margin-top:5%;
    padding: 5px 15px 5px 15px;
    background-color:rgba(233, 233, 233, 0.9);
    text-align:center;
    width:auto;
    height:auto;
    margin-left:70px;
    padding-top:30px;
    padding-bottom:30px;
    display: inline-block;
    max-width: 77%;
    margin-bottom:20px;
    display:grid;
    grid-template-rows: repeat(2,1fr);
    grid-row-gap:2rem;
    
}
.aboutSection-1{
    grid-row-start:1;
    grid-row-end:2;
    display:grid;
    grid-template-columns: repeat(6,1fr);
}
.aboutimg-1{
    grid-column-start:1;
    grid-column-end:3;
}
.fvtext{
    text-align: center;
    vertical-align:middle; 
    grid-column-start:3;
    grid-column-end:4;
    margin-top:200px;
}
.vtext{
    writing-mode: vertical-rl;
    writing-mode: sideways-rl;
    text-align-last: center;
    text-align: center;
    vertical-align:middle; 
    float:left;
}
.abouttext{
    grid-column-start: 4;
    grid-column-end:6;
    margin-top:20%;
    margin-bottom:20%;
}
.aboutSection-2{
    grid-row-start:2;
    grid-row-end:3;
    display:grid;
    grid-template-columns: repeat(6,1fr);
}
.abouttext-2{
    grid-column-start: 1;
    grid-column-end:4;
    margin-top:20%;
    margin-bottom:20%;
    padding-left:30px;
}
.fvtext-2{
    text-align: center;
    vertical-align:middle; 
    margin-top:120px;
    grid-column-start:4;
    grid-column-end:5;
}
  .vtext-2{
    writing-mode: vertical-rl;
    writing-mode: sideways-rl;
    text-align-last: center;
    text-align: center;
    vertical-align:middle; 
    float:right;
    margin-top:40%;
    -moz-transform: scale(-1, -1);
    -o-transform: scale(-1, -1);
    -webkit-transform: scale(-1, -1);
    transform: scale(-1, -1)
}
.aboutimg-2{
    grid-column-start:5;
    grid-column-end:7;
    
}
  .abouttext>h1{
      text-align: center;
      font-size: 50px;
      margin-top:20%;
  }
  .abouttext>p{
      font-size:18px;
      margin-top:4%;
  }
  .abouttext-2>h1{
    text-align: center;
    font-size: 50px;
    margin-top:20%;
  }
  .abouttext-2>p{
    font-size:18px;
    margin-top:4%;
}
  
  /*Menu Page*/
 .menuSection{
    right:0;
    margin-top:7%;
    margin-bottom:7%;
    bottom:0;
    padding: 5px 15px 5px 15px;
    overflow:hidden;
    text-align:center;
    width:auto;
    display: inline-block;
    width:70%;
    margin-left:80px;
    display:grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 18px;
}

 .menu-bg > .container{
    padding-top:15%;
 }
.card1{
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:1;
    grid-row-end:2;
    width: 100%;
    height: 100%;
    overflow:hidden;
    text-align: center;
    transition: transform .2s;
    position:relative;
    background:url('https://scontent-syd2-1.cdninstagram.com/vp/65d24ac0f1482342cb4702decb5e1d14/5E89F022/t51.2885-15/fr/e15/s1080x1080/51045596_239820476895792_3655580631487719951_n.jpg?_nc_ht=scontent-syd2-1.cdninstagram.com&_nc_cat=100')no-repeat center/cover;
    & h1{
        font-family: 'Rock Salt', cursive;
        font-size:100px;
        background:inherit;
        -webkit-background-clip: text;
        background-clip: text;
        padding-top:80px;
        padding-bottom:40px;
        padding-left:10px;
        padding-right:10px;
        line-height:8rem;
        filter: invert(1) grayscale(6) contrast(9) drop-shadow(.1em .1em black);
        mix-blend-mode:hard-light;
    }

}
.card2{
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:2;
    grid-row-end:3;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow:hidden;
    transition: transform .2s;
    position:relative;
    background:url('https://scontent-syd2-1.cdninstagram.com/vp/8a1f315f8b8479c0024095ec6db5139f/5E4BB603/t51.2885-15/fr/e15/s1080x1080/44586829_563926367370542_4117340264207468749_n.jpg?_nc_ht=scontent-syd2-1.cdninstagram.com&_nc_cat=102')no-repeat center/cover;
    background-position: 0 30%;
    & h1{
        font-family: 'Rock Salt', cursive;
        font-size:80px;
        background:inherit;
        -webkit-background-clip: text;
        background-clip: text;
        padding-top:50px;
        padding-bottom:40px;
        padding-left:10px;
        padding-right:10px;
        line-height:8rem;
        filter: invert(1) grayscale(6) contrast(9) drop-shadow(.1em .1em black);
        mix-blend-mode:hard-light;
    }
}
.card3{
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:3;
    grid-row-end:4;
    width: 100%;
    height: 100%;
    overflow:hidden;
    text-align: center;
    transition: transform .2s;
    position:relative;
    background:url('https://scontent-syd2-1.cdninstagram.com/vp/b4bc3be458e2f722187bb5f0e12b247f/5E502E2D/t51.2885-15/fr/e15/s1080x1080/54732509_354187748562356_7966261868687320277_n.jpg?_nc_ht=scontent-syd2-1.cdninstagram.com&_nc_cat=108')no-repeat center/cover;
    & h1{
        font-family: 'Rock Salt', cursive;
        font-size:90px;
        background:inherit;
        -webkit-background-clip: text;
        background-clip: text;
        padding-top:100px;
        padding-bottom:80px;
        padding-left:10px;
        padding-right:10px;
        line-height:8rem;
        filter: invert(1) grayscale(6) contrast(9) drop-shadow(.1em .1em black);
        mix-blend-mode:hard-light;
    }

}

.card1:hover{
    transform: scale(1.1);
}
.card2:hover{
    transform: scale(1.1);
}
.card3:hover{
    transform: scale(1.1);
}

/*Catering*/
.cateringSection{
    right:0;
    padding: 5px 15px 5px 15px;
    overflow:none;
    text-align:center;
    width:auto;
    height:auto;
    display: inline-block;
    width:70%;
    margin-left:70px;
    font-size:13px;
    text-align:center;
    justify-content: center;
    display:grid;
    grid-template-columns: repeat(2,1fr);
}
.ctr{
    background-color: rgba(255, 255, 255, 0.9);
    grid-column-start: 2;
    grid-column-end: 3;
    & h1{
        font-family: 'Lato', sans-serif;
        text-align: center;
        font-size: 50px;
        letter-spacing: -0.110em;
    }
    & p{
        font-size: 16px;
    }
}
.cateringImg{
    background-image:url("https://images.unsplash.com/photo-1559461678-986e2e9311d7?ixlib=rb-1.2.1&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&ixid=eyJhcHBfaWQiOjF9");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-column-start: 1;
    grid-column-end: 2;
    display:block;
}
.catering-text{
    padding:5px 5px 5px 5px;
    margin-top:20%;
    margin-bottom:20%;
}
.btn2{
    height: auto;
    width: auto;
    text-align: center;
    border-radius:5px;
    border:0;
    background-color: $primary;
    font-size: 20px;
    color: $secondary;
    letter-spacing: -0.050em;
    margin:15px 0 15px 0;
    padding:10px 25px 10px 25px;
}
.button2{
    text-align: center;
    &:hover{
        cursor: pointer;
        }
}
/*Contact*/
.contactSection{
    padding: 5px 15px 5px 15px;
    overflow:none;
    text-align:center;
    width:auto;
    height:auto;
    display: inline-block;
    width:70%;
    font-size:13px;
    text-align:center;
    justify-content: center;
    right:10%;
    left:10%;
    margin-right:auto;
    margin-left:auto;
    margin-top:13%;
    margin-bottom:7%;
}

.formstyle{
    background-color:rgba(rgb(53, 53, 53), 1);
    padding:20px 14px 90px 14px;
    border-radius:10px;
}
.submitbtn-style{
    background-color: $primary;
    border: 1px white solid;
    color: $secondary;
    padding: 10px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
    border-radius:10px;
    transition: 0.2s ease-in-out;

}
.submitbtn-style:hover{
    background-color: rgb(214, 214, 214);
    color:$primary;
    border:1px solid $primary;

}
.successSection{
    padding: 5px 15px 5px 15px;
    overflow:none;
    text-align:center;
    width:auto;
    height:auto;
    display: inline-block;
    width:50%;
    font-size:13px;
    text-align:center;
    justify-content: center;
    right:10%;
    left:10%;
    margin-right:auto;
    margin-left:auto;
    margin-top:13%;
    margin-bottom:7%;
}
.successbox{
    background-color:rgba(218, 218, 218, 0.7);
    border-radius:5px;
    padding:30px 0 30px 0;
}
.successbox>p{
    color:$primary;
    font-size:20px;
}
/*Footer*/
.footer{
    flex-shrink:0;
    text-align:center;
    line-height:0.4rem;
    font-size:10px;
    padding-top:20px;
    padding-bottom:7px;
    padding-left:5px;
    padding-right:5px;
    background-color:$primary;
    color:$secondary;
    & p:nth-child(2){
        font-size:8px;
    }
}

/*CSS changes when topNav activated*/
@media screen and (max-width:990px){
    /*Topnav*/
    .hm-navigation{
        display:none;
    }
    .navigation{
        display:none;
    }
    .topnav{
        display:block;
        position:fixed;
        z-index:2;
    }
    .socialinks{
        display:none;
    }
   .verticalMenu.responsive{
       position:relative;
       background-color:rgb(31, 31, 31);
       display:grid;
       padding-top:10px;
       padding-bottom:10px;
       padding-left:20px;
       width:210px;
       height:auto;
   } 
   .verticalMenu.responsive a{
        float:none;
        display:block;
        color:white;
        text-align:center;
        padding:12px 20px;
        text-decoration:none;
        font-size:12px;
        left:0;
        top:0;
        text-align:left;
        position:relative;
    }
    .verticalMenu.responsive a::before{
       content:'';
        position:absolute;
        bottom:0%;
        left:0px;
        width:50%;
        height:1px;
        background:rgb(131, 131, 131);
        display:block;
        -webkit-transform-origin: right top;
        -ms-transform-origin: right top;
        transform-origin: right top;
        -webkit-transform: scale(0, 1);
        -ms-transform: scale(0, 1);
        transform: scale(0, 1);
        -webkit-transition: transform 0.4s cubic-bezier(1, 0, 0, 1);
        transition: transform 0.8s cubic-bezier(1, 0, 0, 1)
   }
    .verticalMenu.responsive a:hover::before{
       -webkit-transform-origin: left top;
       -ms-transform-origin: left top;
       transform-origin: left top;
       -webkit-transform: scale(1, 1);
       -ms-transform: scale(1, 1);
       transform: scale(1, 1);
       color:grey;
   }
   
   .vert-contactinfo{
       color:white;
       line-height:0.8rem;
       padding:20px 0 10px 20px;
       font-size:12px; 
       margin-top:100px;
   }
   .vert-links{
       height:auto;
   }
   .exit-nav{
       color:white;
       float:right;
       margin-right:5px;
       margin-top:10px;
   }
   /*Index*/
   .frontBanner{
      margin-right:auto;
      margin-left:auto;
      right:15%;
      left:15%;
      top:50%;
   }
   .arrowIcon{
       top:91%;
       left:45%;
   }
   .menu-text{
       line-height:7rem;
   }
   .menu-text>p:first-child{
    font-size:34px;
}
.menu-text>a>p{
    font-size:100px;
}
.book-text>a>p:first-child{
    font-size:100px;
}
.book-text>p:nth-child(2){
    font-size:34px;
}
.section-2{
    height:46%;
}
.section-2-2{
    padding:60px 10px 30px 10px;
}
   /*About*/
   .aboutSection{
    max-width: 80%;
    right:10%;
    left:10%;
    margin-right:auto;
    margin-left:auto;
    margin-top:10%;
    margin-bottom:10%;
   }
   .aboutSection-1{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.aboutimg-1{
    grid-column-start:1;
    grid-column-end:2;
}
.fvtext{
    grid-column-start:2;
    grid-column-end:3;
    margin-top:130px;

}
.abouttext{
    grid-column-start:3;
    grid-column-end:5;
}
.aboutSection-2{
    display:grid;
    grid-template-columns: repeat(4,1fr);
}
.aboutimg-2{
    grid-column-start:4;
    grid-column-end:5;
    
}
.fvtext-2{
    grid-column-start:3;
    grid-column-end:4;
    margin-top:200px;
}
.abouttext-2{
    grid-column-start:1;
    grid-column-end:3;
}
   .abouttext h1{
    text-align: center;
    font-size: 37px;
    margin-top:16%;
}
.abouttext p{
    text-align: center;
    font-size: 14px;
}
.abouttext-2 p{
    text-align: center;
    font-size: 14px;
}
.vtext{
    margin-top:30%;
    font-size:20px;
}
.vtext-2{
    margin-top:30%;
    font-size:20px;
}
    /*Menu*/
    .menuSection{
        right:10%;
        left:10%;
        max-width:100%;
        margin-right:auto;
        margin-left:auto;
        margin-top:10%;
        margin-bottom:10%;
    }
    .card1{
        & h1{
            font-size:40px;
            padding-top:80px;
            padding-bottom:40px;
            padding-left:10px;
            padding-right:10px;
            line-height:8rem;
        }
    
    }
    .card2{
        & h1{
            font-size:40px;
            padding-top:80px;
            padding-bottom:40px;
            padding-left:10px;
            padding-right:10px;
            line-height:8rem;
    
        }
    }
    .card3{
        & h1{
            font-size:40px;
            padding-top:80px;
            padding-bottom:40px;
            padding-left:10px;
            padding-right:10px;
            line-height:8rem;
        }
    }
    /*Catering*/
    .cateringSection{
        right:10%;
        left:10%;
        margin-right:auto;
        margin-left:auto;
        display:grid;
        grid-template-columns: repeat(1,1fr);
        grid-template-rows: repeat(2,1fr);
    }
    .cateringSection>.cateringImg{
        grid-column-start: 1;
        grid-column-end:1;
        grid-row-start:1;
        grid-row-end:2;
    }
    .cateringSection>.ctr{
        grid-column-start: 1;
        grid-column-end:1;
        grid-row-start:2;
        grid-row-end:3;
    }
    .catering-text{
        margin-top:20%;
        margin-bottom:20%;
    }
    .container-col>h1{
        font-size:36px;
    }
    .container-col>p{
        font-size:13px;
    }
    .btn2{
        font-size:15px;
    }
    /*Forms*/
    .contactSection{
        right:10%;
        left:10%;
        margin-right:auto;
        margin-left:auto;
        margin-top:30%;
        width:90%;
    }
}
@media screen and (max-width:768px){
    .vert-contactinfo{
        padding-left:20px;
    }
}

@media screen and (max-width:600px){
 .menuSection{
     top:0;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(3, 1fr);
    bottom:0;
    margin-top:20%;
    width:90%;
 }
 .card1{
     margin-bottom:20px;
    & h1{
        padding-top:120px;
    }

}
.card2{
    margin-bottom:20px;
    & h1{
        padding-top:100px;

    }
}
.card3{
    & h1{
        padding-top:150px;

    }
}
 .menu-text{
    line-height:3rem;
}
.book-text{
    line-height:3rem;
}
 .menu-text>p:first-child{
    font-size:18px;
}
.menu-text>a>p{
    font-size:50px;
}
.book-text>a>p:first-child{
    font-size:50px;
}
.book-text>p:nth-child(2){
    font-size:18px;
}

 .card1{
     grid-column-start:1;
     grid-column-end:1;
     grid-row-start:1;
     grid-row-end:2;
     height:auto;
     padding-top:10px;
     padding-bottom:10px;
 }
 .card2{
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:2;
    grid-row-end:3;
    height:auto;
    padding-top:10px;
     padding-bottom:10px;
}
.card3{
    grid-column-start:1;
    grid-column-end:1;
    grid-row-start:3;
    grid-row-end:4;
    height:auto;
    padding-top:10px;
     padding-bottom:10px;
}
.catering-text>h1{
    font-size: 30px;
}
.catering-text>p{
    font-size: 12px;
}
}

@media screen and (max-width:500px){
    .verticalMenu.responsive{
        width:150px;
        padding-left:0px;
    }
    .vert-contactinfo{
        font-size:8px;
    }
    .menuSection{
       grid-template-columns: repeat(1, 1fr);
       grid-template-rows: repeat(3, 1fr);
       grid-gap: 5px;
    } 
    .frontBanner >h1{
        color:white;
        font-size:30px;
    }
    .frontBanner >p{
        color:white;
        font-size:14px;
    
    }
    .aboutSection{
        max-width: 97%;
        margin-top:12%;
        margin-bottom:10%;
       }
    .aboutimg-1>img{
        object-fit:cover;
        width:70%;
        height:100%;
    }
    .fvtext{
        margin-top:130px;
    
    }
    .aboutimg-2>img{
        object-fit:cover;
        width:70%;
        height:100%;
        
    }
    .fvtext{
        margin-top:120px;
    }
    .fvtext-2{
        margin-top:140px;
    }
       .abouttext-2>h1{
        text-align: center;
        font-size:25px;
    }
    .abouttext>h1{
        font-size:25px;
    }
   }
   .cateringSection{
       width:80%;
       margin-top:10%;
   }

   @media screen and (max-width:414px){
    .card1{
        & h1{
            padding:0;
            font-size:30px;
            line-height:4rem;
        }
    }
    .card2{
        & h1{
            padding:0;
            font-size:22px;
            line-height:4rem;
        }
    }
    .card3{
        & h1{
            padding:0;
            font-size:30px;
            line-height:4rem;
        }
    }
 .cateringSection{
     grid-template-rows: repeat(1,1fr);
     margin-top:40%;
 }
 .ctr{
    grid-row-start:1;
    grid-row-end:2;
 }
 .cateringImg{
     display:none !important;
 }
    }

    @media screen and (max-width: 320px){
        .frontBanner{
            top:40%;
        }
        .menu-text{
            line-height:2rem;
        }
        .book-text{
            line-height:2rem;
        }
         .menu-text>p:first-child{
            font-size:12px;
        }
        .menu-text>a>p{
            font-size:30px;
        }
        .book-text>a>p:first-child{
            font-size:30px;
        }
        .book-text>p:nth-child(2){
            font-size:12px;
        }
        .aboutSection{
            margin-top:15%;
        }
    }

    @media only screen and (min-width:2000px){
        .navlinks{
            padding:10px 20px 10px 20px;
        }
        .navlinks a{
            font-size:20px;
            line-height:2.8rem;
    
        }
        .contactinfo div:first-child{
           font-size:17px;
           line-height:2.3rem;
        }
        
        .contactinfo div:nth-child(2){
            font-size:17px;
            line-height:2.3rem;
        }
    }
    
    
    @media only screen and (min-width:1300px){
        .frontBanner{
            padding: 15px 35px 15px 35px;
        }
        .frontBanner>h1{
            font-size: 38px;
        }
        .frontBanner>p{
            font-size:22px;
        }
        .navlinks{
            padding:10px 20px 10px 20px;
        }
        .navlinks a{
            font-size:18px;
            line-height:2rem;
    
        }
        .contactinfo div:first-child{
           font-size:14px;
           line-height:2rem;
        }
        
        .contactinfo div:nth-child(2){
            font-size:14px;
            line-height:2rem;
        }
        .menu-text{
            line-height:13rem;
        }
        .menu-text>p:first-child{
            font-size:70px;
        }
        .menu-text>a>p{
            font-size:150px;
        }
        .book-text{
            line-height:13rem;
        }
        .book-text>p:first-child{
            font-size:150px;
        }
        .book-text>a>p{
            font-size:70px;
        }
        .center-text{
            font-size:22px;
        }
        .coffee-text{
            font-size:22px;
        }
        .catering-text>h1{
            font-size:65px;
        }
        .catering-text>p{
            font-size:25px;
        }
        .vtext{
            font-size:30px;
        }
        .vtext-2{
            font-size:30px;
        }
        .abouttext{
            margin-top:5%;
        }
        .abouttext>h1{
            font-size:70px;
        }
        .abouttext>p{
            font-size:25px;
        }
        .abouttext-2{
            margin-top:0;
        }
        .abouttext-2>h1{
            font-size:70px;
        }
        .abouttext-2>p{
            font-size:25px;
        }
        .formstyle{
            font-size:20px;
        }
         /* Overriding styles */
         
         ::-webkit-input-placeholder {
            font-size: 20px!important;
         }
         
         :-moz-placeholder { /* Firefox 18- */
               font-size: 20px!important;
         }
         ::-moz-placeholder {  /* Firefox 19+ */
               font-size: 20px!important;
         }
         .menuSection{
            margin-left:13%;
            grid-gap:30px;
         }
         .card1{
            & h1{
                padding:80px;
            }
        }
        .card2{
            & h1{
                padding-top:80px;
            }
        }
    }
    